doctype html
html(lang="nb")
	head
		title Test av SSB-fil
		meta(charset="utf-8")
		link(rel="Stylesheet",href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css")
		style(type="text/css").
			#success h2 {
				font-size: 2em;
				text-align: center;
			}
			#success .glyphicon {
				display: block;
				font-size: 4em;
				margin-bottom: 8px;
				font-weight: normal;
			}
	body
		.jumbotron
			.container-fluid
				.row
					.col-lg-12
						h1 Test av SSB-fil
						p Voksenopplæringsforbundet (VOFO)
						label(for="fileInput") Rapportfil:
						input.form-control(type="file",fileread="fileCtrl.csvFile")#fileInput
						p#analyzeStatus
						p#analyzeStatus2
		.container-fluid
			div#success
				h2.text-success
					span.glyphicon.glyphicon-ok-circle
					span Filen ser ut til å være gyldig
			div#errors
				h2 Feilmeldinger
				table.table.table-condensed.table-hover.table-bordered
					thead
						tr
							th Rad
							th Stf.
							th Org.
							th Kommune
							th Kurs-ID
							th Emnekode
							th Nivå
							th Eval.
							th M10
							th M20
							th M30
							th M40
							th M50
							th M60
							th K10
							th K20
							th K30
							th K40
							th K50
							th K60
							th TRT menn
							th TRT kvinner
							th Fra dato
							th Til dato
							th Timer
							th El-timer
							th Tidspunkt
							th Feilmeldinger
					tbody


		script(src="//code.jquery.com/jquery-2.1.4.min.js")
		<!-- @if false -->
		script.
			var VALIDATOR_WORKER = "../src/validator.js?worker";
		script(src="../src/parse.js")
		script(src="../src/validator.js")
		script(src="../src/upload.js")
		<!-- @endif -->
		<!-- @if true !>
		script.
			var VALIDATOR_WORKER = "./validator.min.js?worker";
		script(src="./parse.min.js")
		script(src="./validator.min.js")
		script(src="./upload.min.js")
		<!-- @endif -->
